{% extends "base.html" %}

{% block body %}
<div>
    <ul class="nav justify-content-end m-3">
        <li class="nav-item">
            <a class="nav-link btn btn-lg btn-outline-primary mx-2" href="/logout">ログアウト</a>
        </li>
    </ul>
</div>

<div class="container-fluid">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-md-8 text-center">
            <h1 class="display-3 text-primary">ようこそ、工大生のためのSNSへ！</h1>
            <h2 class="mt-5 text-secondary">サイト内メニュー</h2>
            <div class="mt-4">
                <h3 class="text-primary">Q&Aサイト</h3>
                <p class="lead">授業や課外活動、日常での困りごとなど分からないことをどんどん質問しよう！</p>
                <div class="btn-group" role="group">
                    <a href="/question_main" class="btn btn-primary btn-lg mx-2">Q&A掲示板</a>
                    <a href="/contact" class="btn btn-primary btn-lg mx-2">お問い合わせ</a>
                    <a href="/tweet" class="btn btn-primary btn-lg mx-2">混雑状況のつぶやき</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
